<header>
  <div class="row">
    <div class="twelve columns">
      <h1>Case Studies</h1>
      <h4>How people are using Foundation to build responsive, future-friendly sites.</h4>
    </div>
  </div>
</header>

<section id="mainContent">

  <div class="row">
    <div class="two columns">
      <ul class="side-nav">
        <li><a href="index.php">&larr; Home</a></li>
        <li class="divider"></li>
        <li><a href="case-flite.php">Flite</a></li>
        <li><a href="case-swizzle.php">Swizzle</a></li>
        <li><a href="case-soapbox.php">ZURBsoapbox</a></li>
        <li><a href="case-reel.php">Reel</a></li>
        <li><a href="case-zurbjobs.php">ZURBjobs</a></li>
        <li class="active"><a href="case-wcb.php">WCB</a></li>
      </ul>
    </div>
    
    <div class="ten columns">
      <div class="row">
        <div class="six columns">
          <h2>WCB Design Agency</h2>
          <h4 class="subheader">Foundation was straight to the point.</h4>
          
          <p>Carl Heaton, founder of <a href="http://www.webcoursesbangkok.com/">Web Courses Bangkok</a>, needed a framework for the <a href="http://webcoursesagency.com">design agency side</a> of his web design school and eventually turned to Foundation. While trudging through dozens and dozens of responsive frameworks, Carl stumbled upon Foundation. At the time, he wanted to find a resource for students that showed them how to easily put together responsive web sites. As he put it, he tested out "just about every framework out there and Foundation seemed to have everything that I wanted."</p>
          
          <blockquote>"For example, Bootstrap is more for apps rather than websites, in my opinion. Foundation was straight to the point, had some useful additions like Orbit and Reveal, which are easy to plug and play." </blockquote>
          
        </div>
        <div class="six columns">
          <img src="images/case-wcb-1.jpg" id="sideDeviceDesktop" />
        </div>
      </div>
    
      <div class="row">
        <div class="six columns">
          <img src="images/case-wcb-2.jpg" />
        </div>
        <div class="six columns">
          <h4>You Can Hide Things On Phone</h4>
          <p>What really sold Carl on Foundation, and using it for WCB, was the <a href="http://foundation.zurb.com/docs/elements.php">"hide-on-phone" classes</a>. He found them really useful for essentially hiding bulker elements in a design. This means that Carl's designs looked good on tablets and smart phones. </p>
          
          <h4>A Few Bumps in the Road </h4>
          <p>Carl hit a bump while putting together the page. The bump was with the Orbit slider when just using content, especially when switching from landscape to portrait on the iPad.</p>
        </div>
      </div>

      <p>The issue was a white space appearing at the side of the site as it was not fully resizing to the device width after rotation. To fix this, they added:</p>
      
      <script src="https://gist.github.com/3419017.js?file=gistfile1.txt"></script>
      
      <p>The Orbit slider issue was that sliders were overlapping, which looked horrible on loading. But they found help. As Carl put it:</p>
      <blockquote>"The great thing about Foundation is the support group on Google, so Jonathan [Design Lead and Partner at ZURB] was kind enough to give me a solution, which was wonderfully simple — to add a background colour which stopped the issues by hiding the slides behind each other."</blockquote>
      
      <div class="row">
        <div class="twelve columns">
          <img src="images/case-wcb-3.jpg"/>
        </div>
      </div>
      
      <h4>One Week to Design, Two Weeks to Code </h4>
      <p>The <a href="http://www.webcoursesagency.com">WCB Design Agency</a> site took one week to design and two weeks to code. Carl is once again using Foundation to code up another site. More than that, the school side of things is planning on teaching a <a href="http://www.webcoursesbangkok.com">new responsive design</a> course using Foundation 3. </p>
      
    </div>
  </div>

</section>  
