<!-- ZURBar -->
<div class="container top-bar home-border">
  <div class="attached">
    <div class="name" onclick="void(0);">
      <span><%= link_to "Foundation", root_path %> <a href="#" class="toggle-nav"></a></span>
		</div>

		<ul class="right">
			<li>
			  <a href="grid.php">Features</a>
			</li>
			<li>
			  <a href="case-flite.php">Case Studies</a>
			</li>
			<li>
			  <a href="docs">Documentation</a>
			</li>
		  <li>
		    <a href="http://github.com/zurb/foundation">GitHub</a>
			</li>
			<li class="download"><a class="small blue nice button src-download" href="download.php">Download</a></li>
		</ul>
	</div>
</div>